In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_cliente = pd.read_csv('/content/drive/MyDrive/VAI/Projeto Final/Dados/cliente.csv')
df_produto = pd.read_csv('/content/drive/MyDrive/VAI/Projeto Final/Dados/produto.csv')
df_venda = pd.read_csv('/content/drive/MyDrive/VAI/Projeto Final/Dados/venda.csv')

<ipython-input-2-d6e0fe299ed8>:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_venda = pd.read_csv('/content/drive/MyDrive/VAI/Projeto Final/Dados/venda.csv')

# Cliente

In [4]:
df_cliente

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA
0                0           1900/01/01      2017/03/06
1                1           1900/01/01      2017/03/06
2                2           1900/01/01      2017/03/06
3                3           1900/01/01      2017/02/18
4                4           1900/01/01      2017/01/16
...            ...  ...             ...             ...
105919      105919    F      1977/09/11      2021/10/16
105920      105920           1900/01/01      1900/01/01
105921      105921           1900/01/01      1900/01/01
105922      105922    F      1985/05/15      2021/10/16
105923      105923    F      1986/09/23      2021/10/16

[105924 rows x 4 columns]

In [5]:
df_cliente['SEXO'].value_counts(dropna=False)
#O que seignigicam as legendas da coluna SEXO, F, M, O, f, m e ' '

     59401
F    26809
M    17384
O     1307
f      575
m      448
Name: SEXO, dtype: int64

In [ ]:
df_cliente['DATA_NASCIMENTO'].value_counts(dropna=False)
#Data de nascimento com tem muitos erros, em que momento ( site, app, nas lojas etc) e quem faz os cadastros dos clientes ?

1900/01/01    60579
2020/08/13       43
2020/08/15       37
2020/08/14       32
2000/01/01       27
              ...
1983/07/12        1
1973/03/12        1
1947/11/24        1
2007/11/07        1
1962/12/16        1
Name: DATA_NASCIMENTO, Length: 16377, dtype: int64

In [ ]:
df_cliente['PRIMEIRA_COMPRA'].value_counts(dropna=False)
#como Ã© feito o registro dos dias da primeira compra ?

1900/01/01    4060
2020/11/14     319
2020/12/12     274
2020/11/21     270
2020/11/28     267
              ...
2017/03/20       1
2019/02/10       1
2019/05/29       1
2017/01/16       1
2017/01/30       1
Name: PRIMEIRA_COMPRA, Length: 1693, dtype: int64

In [ ]:
df_cliente[df_cliente['DATA_NASCIMENTO'] == df_cliente['PRIMEIRA_COMPRA']]

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA
63              63           1900/01/01      1900/01/01
92              92           1900/01/01      1900/01/01
133            133           1900/01/01      1900/01/01
151            151           1900/01/01      1900/01/01
173            173           1900/01/01      1900/01/01
...            ...  ...             ...             ...
105803      105803           1900/01/01      1900/01/01
105830      105830           1900/01/01      1900/01/01
105852      105852           1900/01/01      1900/01/01
105920      105920           1900/01/01      1900/01/01
105921      105921           1900/01/01      1900/01/01

[1178 rows x 4 columns]

# venda

In [ ]:
df_venda

,ID_VENDA,DATA_VENDA,ID_CLIENTE,ID_PRODUTO,QUANTIDADE,CATEGORIA_VENDA,FILIAL
0,0,2021/02/10,45659.0,17631,1,E-COMMERCE,101
1,0,2021/02/10,45659.0,34575,1,E-COMMERCE,101
2,1,2021/02/12,70766.0,2240,1,E-COMMERCE,101
3,2,2021/02/12,42579.0,17707,1,E-COMMERCE,101
4,2,2021/02/12,42579.0,8952,1,E-COMMERCE,101
...,...,...,...,...,...,...,...
1859578,854530,2021/10/23,NaN,36642,10.0,Loja,113
1859579,854530,2021/10/23,NaN,7332,10.0,Loja,113
1859580,854530,2021/10/23,NaN,7333,10.0,Loja,113
1859581,854531,2021/10/23,106865.0,7528,1.0,Loja,113
1859582,854532,2021/10/23,NaN,8553,1.0,Loja,113

In [ ]:
df_venda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859583 entries, 0 to 1859582
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   ID_VENDA         int64
 1   DATA_VENDA       object
 2   ID_CLIENTE       float64
 3   ID_PRODUTO       int64
 4   QUANTIDADE       object
 5   CATEGORIA_VENDA  object
 6   FILIAL           int64
dtypes: float64(1), int64(3), object(3)
memory usage: 99.3+ MB

In [ ]:
df_venda.CATEGORIA_VENDA.unique()

array(['E-COMMERCE          ', 'Loja                ',
       'Digital             ', 'EstÃ©tica            ',
       'ClÃ­nica             '], dtype=object)

In [ ]:
df_venda['QUANTIDADE'].value_counts(dropna=False)

1        921903
1        587741
2         90614
2         56416
3         20494
          ...
1,890         1
1,555         1
1,485         1
1,710         1
131.0         1
Name: QUANTIDADE, Length: 2895, dtype: int64

In [ ]:
df_venda.DATA_VENDA = pd.to_datetime(df_venda.DATA_VENDA)

In [ ]:
df_venda['DATA_VENDA'].max()

Timestamp('2021-10-26 00:00:00')

In [ ]:
df_venda['DATA_VENDA'].min()

Timestamp('2020-01-02 00:00:00')

In [ ]:
df_venda['CATEGORIA_VENDA'].value_counts()

Loja                    1698909
EstÃ©tica                  91187
ClÃ­nica                   37179
E-COMMERCE                18101
Digital                   14207
Name: CATEGORIA_VENDA, dtype: int64

# Produto

In [ ]:
df_produto

,ID_PRODUTO,UNIDADE,NIVEL 1,NIVEL 2,NIVEL 3,NIVEL 4
0,0,UN,CAES,ALIMENTOS,PETISCOS E OSSINHOS,BISCOITOS - BIFINHOS - SNACKS
1,1,UN,CAES,ALIMENTOS,PETISCOS E OSSINHOS,BISCOITOS - BIFINHOS - SNACKS
2,2,UN,CAES,ALIMENTOS,PETISCOS E OSSINHOS,BISCOITOS - BIFINHOS - SNACKS
3,3,UN,,,,
4,4,UN,CAES,FARMACIA,DORES E INFECCOES,ANTIBIOTICOS
...,...,...,...,...,...,...
38303,38303,UN,,,,
38304,38304,UN,,,,
38305,38305,UN,,,,
38306,38306,UN,,,,
38307,38307,UN,,,,

In [ ]:
df_produto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38308 entries, 0 to 38307
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID_PRODUTO  38308 non-null  int64
 1   UNIDADE     38308 non-null  object
 2   NIVEL 1     38308 non-null  object
 3   NIVEL 2     38308 non-null  object
 4   NIVEL 3     38308 non-null  object
 5   NIVEL 4     38308 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.8+ MB

In [ ]:
df_produto['UNIDADE'].value_counts()

UN    37848
PC      264
CX       55
DP       36
DS       23
SC       19
EA       12
FR        8
FD        7
CT        7
BA        5
PT        4
1         4
CR        3
MT        2
pc        2
KG        2
PE        2
BS        1
KI        1
DZ        1
CJ        1
PA        1
Name: UNIDADE, dtype: int64

In [ ]:
df_produto['NIVEL 1'].value_counts()

CAES                              18809
                                  12569
GATOS                              2568
PEIXES                             2088
AVES                               1225
ROEDORES                            596
PESSOAS                             411
CAVALOS                              39
PRIMATAS                              3
Name: NIVEL 1, dtype: int64

In [ ]:
df_produto['NIVEL 2'].value_counts()

ACESSORIOS                        16145
                                  12569
ALIMENTOS                          3703
HIGIENE E BELEZA                   2013
FARMACIA                           1857
AQUARIOS E ACESSORIOS              1257
ANIMAL VIVO                         540
CASA                                224
Name: NIVEL 2, dtype: int64

In [ ]:
df_produto['NIVEL 3'].value_counts()

                                  13199
BRINQUEDOS                         3559
COLEIRAS E PEITORAIS               3527
ROUPINHAS E ACESSORIOS             3103
RACOES                             2705
CAMINHAS E CASINHAS                2170
ACESSORIOS PARA ALIMENTACAO        1759
UTENSILIOS PARA BANHO              1197
GAIOLAS E ACESSORIOS               1053
HIGIENE E LIMPEZA                   816
PETISCOS E OSSINHOS                 751
DECORACAO E ILUMINACAO              566
BOMBAS E CONDICIONADORES            525
TRANSPORTE E VIAGEM                 523
VITAMINAS E SUPLEMENTOS             449
ACESSORIOS MEDICOS                  418
PULGAS - CARRAPATOS - VERMES        298
DORES E INFECCOES                   260
ADESTRAMENTO E COMPORTAMENTO        254
PELE E PELAGEM                      185
AQUARIOS                            166
PORTOES - GRADES - ESCADAS          107
DECORACAO                            99
RACOES - FENOS - ALFAFAS             98
OLHOS E ORELHAS                      92
DEMAIS MEDICAMENTOS                  83
JARDIM                               82
DOCES                                82
SUPLEMENTOS E VITAMINAS              71
PETISCOS                             52
INSETICIDAS E REPELENTES             43
SALGADOS                             13
BEBIDAS                               2
PATAS E CASCOS                        1
Name: NIVEL 3, dtype: int64

In [ ]:
df_produto['NIVEL 4'].value_counts()

                                  16906
MODA VERAO                         1638
CAMINHAS                           1520
PEITORAIS                          1509
COMEDOUROS E BEBEDOUROS            1468
                                  ...
TRATAMENTO PARA OLHOS                26
TRATAMENTO CARDIACO                  18
ESCADAS                              18
TRATAMENTO RESPIRATORIO               2
TRATAMENTO PARA CASCOS                1
Name: NIVEL 4, Length: 63, dtype: int64

# demanda podutos caes

In [ ]:
df_caes = df_produto[df_produto['NIVEL 1'] == 'CAES                          ']

In [ ]:
df_caes['ID_PRODUTO']

0            0
1            1
2            2
4            4
5            5
         ...
38196    38196
38197    38197
38211    38211
38212    38212
38213    38213
Name: ID_PRODUTO, Length: 18809, dtype: int64

In [ ]:


df_venda_caes = df_venda[df_venda['ID_PRODUTO'].isin(df_caes['ID_PRODUTO'])]

In [ ]:
df_venda_caes

,ID_VENDA,DATA_VENDA,ID_CLIENTE,ID_PRODUTO,QUANTIDADE,CATEGORIA_VENDA,FILIAL
0,0,2021-02-10,45659.0,17631,1,E-COMMERCE,101
1,0,2021-02-10,45659.0,34575,1,E-COMMERCE,101
2,1,2021-02-12,70766.0,2240,1,E-COMMERCE,101
3,2,2021-02-12,42579.0,17707,1,E-COMMERCE,101
4,2,2021-02-12,42579.0,8952,1,E-COMMERCE,101
...,...,...,...,...,...,...,...
1859572,854528,2021-10-24,106864.0,4104,1.0,Loja,113
1859573,854528,2021-10-24,106864.0,4001,1.0,Loja,113
1859574,854528,2021-10-24,106864.0,31589,1.0,Loja,113
1859581,854531,2021-10-23,106865.0,7528,1.0,Loja,113
1859582,854532,2021-10-23,NaN,8553,1.0,Loja,113

In [ ]:

df_venda_caes['DATA_VENDA'].max()

Timestamp('2021-10-25 00:00:00')

In [ ]:
df_venda_caes['DATA_VENDA'].min()

Timestamp('2020-01-02 00:00:00')

In [ ]:
# Ordenar o DataFrame com base na coluna 'data' da mais recente para a mais antiga
df_venda_caes = df_venda_caes.sort_values(by='DATA_VENDA', ascending=False)

In [ ]:
df_venda_caes

,ID_VENDA,DATA_VENDA,ID_CLIENTE,ID_PRODUTO,QUANTIDADE,CATEGORIA_VENDA,FILIAL
1716106,789819,2021-10-25,NaN,3987,1,Digital,107
174036,101530,2021-10-25,45002.0,12983,1,Loja,101
174095,101554,2021-10-25,41536.0,16858,3,Loja,101
174094,101554,2021-10-25,41536.0,16857,2,Loja,101
174093,101554,2021-10-25,41536.0,11655,2,Loja,101
...,...,...,...,...,...,...,...
53940,45879,2020-01-02,NaN,13042,1,Loja,101
709176,344225,2020-01-02,NaN,10795,1,Loja,102
53950,45882,2020-01-02,NaN,3323,1,Loja,101
53957,45885,2020-01-02,NaN,3473,1,Loja,101
96191,65849,2020-01-02,NaN,12981,1,Loja,101

In [ ]:
s = df_venda_caes['DATA_VENDA'].asfreq('D')
s1 = pd.Series(s[s.isnull()].index)

In [ ]:
s1

0   1970-01-01
dtype: datetime64[ns]

In [ ]:
df_venda_caes[df_venda_caes['DATA_VENDA'] == '1970-01-01']

Empty DataFrame
Columns: [ID_VENDA, DATA_VENDA, ID_CLIENTE, ID_PRODUTO, QUANTIDADE, CATEGORIA_VENDA, FILIAL]
Index: []

In [ ]:
# Agrupar por data e somar as quantidades
df_agrupado = df_venda_caes.groupby('DATA_VENDA')['QUANTIDADE'].sum().reset_index()

# Criar um grÃ¡fico de linha
plt.figure(figsize=(10, 6))
plt.plot(df_agrupado['DATA_VENDA'], df_agrupado['QUANTIDADE'], marker='o')
plt.xlabel('Data')
plt.ylabel('Quantidade')
plt.title('Quantidade por Data')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

TypeError: ignored

In [ ]:

# Calcule a diferenÃ§a entre as datas para identificar os dias ausentes
date_diff = df_venda_caes['DATA_VENDA'].diff()

# Encontre a primeira e Ãºltima data no DataFrame
first_date = df_venda_caes['DATA_VENDA'].iloc[0]
last_date = df_venda_caes['DATA_VENDA'].iloc[-1]

# Verifique se a diferenÃ§a entre as datas contÃ©m algum valor diferente de 1 dia
missing_days = date_diff[date_diff != pd.Timedelta(days=1)]

# Verifique se nÃ£o hÃ¡ dias ausentes entre a primeira e a Ãºltima data
if len(missing_days) == 0 and len(df_venda_caes['DATA_VENDA']) == (last_date - first_date).days + 1:
    print("Todas as linhas contÃªm todos os dias desde o primeiro registro atÃ© o Ãºltimo.")
else:
    print("Existem dias ausentes nas linhas do DataFrame.")
    print(missing_days.sort_values())

Existem dias ausentes nas linhas do DataFrame.
1707287   -2 days
1202881   -2 days
1037761   -2 days
980739    -2 days
696055    -1 days
            ...
420878     0 days
420881     0 days
420913     0 days
96191      0 days
1716106       NaT
Name: DATA_VENDA, Length: 1227868, dtype: timedelta64[ns]

# SEguimentaÃ§Ã£o

In [ ]:
# idade, primeira compra, ultima compra, frequencia de pedidos, recencia, quantidade de produtos por pedido, tempo de base em dias, sexo, s

In [6]:
df_venda

,ID_VENDA,DATA_VENDA,ID_CLIENTE,ID_PRODUTO,QUANTIDADE,CATEGORIA_VENDA,FILIAL
0,0,2021/02/10,45659.0,17631,1,E-COMMERCE,101
1,0,2021/02/10,45659.0,34575,1,E-COMMERCE,101
2,1,2021/02/12,70766.0,2240,1,E-COMMERCE,101
3,2,2021/02/12,42579.0,17707,1,E-COMMERCE,101
4,2,2021/02/12,42579.0,8952,1,E-COMMERCE,101
...,...,...,...,...,...,...,...
1859578,854530,2021/10/23,NaN,36642,10.0,Loja,113
1859579,854530,2021/10/23,NaN,7332,10.0,Loja,113
1859580,854530,2021/10/23,NaN,7333,10.0,Loja,113
1859581,854531,2021/10/23,106865.0,7528,1.0,Loja,113
1859582,854532,2021/10/23,NaN,8553,1.0,Loja,113

In [7]:
df_venda['CATEGORIA_VENDA'].value_counts()

Loja                    1698909
EstÃ©tica                  91187
ClÃ­nica                   37179
E-COMMERCE                18101
Digital                   14207
Name: CATEGORIA_VENDA, dtype: int64

##  Vou adicionar novas colunas no df_cliente

In [8]:
df_cliente

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA
0                0           1900/01/01      2017/03/06
1                1           1900/01/01      2017/03/06
2                2           1900/01/01      2017/03/06
3                3           1900/01/01      2017/02/18
4                4           1900/01/01      2017/01/16
...            ...  ...             ...             ...
105919      105919    F      1977/09/11      2021/10/16
105920      105920           1900/01/01      1900/01/01
105921      105921           1900/01/01      1900/01/01
105922      105922    F      1985/05/15      2021/10/16
105923      105923    F      1986/09/23      2021/10/16

[105924 rows x 4 columns]

In [9]:
#ADICIONAR COLUNA COM A DATA DA ULTIMA COMPRA DO CLIENTE

# Convertendo a coluna 'DATA_VENDA' para o formato datetime
df_venda['DATA_VENDA'] = pd.to_datetime(df_venda['DATA_VENDA'])

# Encontrando a data da Ãºltima compra para cada cliente
ultima_compra = df_venda.groupby('ID_CLIENTE')['DATA_VENDA'].max().reset_index()

# Renomeando a coluna para 'ULTIMA_COMPRA'
ultima_compra.rename(columns={'DATA_VENDA': 'ULTIMA_COMPRA'}, inplace=True)

# Mesclando os DataFrames df_cliente e ultima_compra com base na coluna 'ID_CLIENTE'
df_cliente = df_cliente.merge(ultima_compra, on='ID_CLIENTE', how='left')

df_cliente

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA ULTIMA_COMPRA
0                0           1900/01/01      2017/03/06           NaT
1                1           1900/01/01      2017/03/06           NaT
2                2           1900/01/01      2017/03/06           NaT
3                3           1900/01/01      2017/02/18           NaT
4                4           1900/01/01      2017/01/16           NaT
...            ...  ...             ...             ...           ...
105919      105919    F      1977/09/11      2021/10/16    2021-10-16
105920      105920           1900/01/01      1900/01/01    2021-10-19
105921      105921           1900/01/01      1900/01/01    2021-10-22
105922      105922    F      1985/05/15      2021/10/16    2021-10-16
105923      105923    F      1986/09/23      2021/10/16    2021-10-16

[105924 rows x 5 columns]

In [22]:
#CHECANDO LINHAS QUE FICARAM NAT
#NENHUMA DATA FOI ENCONTRADA NA TABELA DE VENDA PARA ESSES CLIENTES, LOGO VOU DROPAR TODOS
df_cliente[df_cliente['ULTIMA_COMPRA'].isna() ]

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA ULTIMA_COMPRA
0                0           1900/01/01      2017/03/06           NaT
1                1           1900/01/01      2017/03/06           NaT
2                2           1900/01/01      2017/03/06           NaT
3                3           1900/01/01      2017/02/18           NaT
4                4           1900/01/01      2017/01/16           NaT
...            ...  ...             ...             ...           ...
105827      105827    F      1969/08/28      1900/01/01           NaT
105847      105847    F      1981/08/19      1900/01/01           NaT
105852      105852           1900/01/01      1900/01/01           NaT
105886      105886    F      1964/12/16      1900/01/01           NaT
105891      105891    F      1996/02/21      1900/01/01           NaT

[17331 rows x 5 columns]

In [27]:
# Removendo as linhas com valores NaN na coluna 'ULTIMA_COMPRA'
df_cliente_real = df_cliente.dropna(subset=['ULTIMA_COMPRA'])

df_cliente_real.tail(6)

        ID_CLIENTE SEXO DATA_NASCIMENTO PRIMEIRA_COMPRA ULTIMA_COMPRA
105918      105918    M      1998/02/14      2021/10/16    2021-10-16
105919      105919    F      1977/09/11      2021/10/16    2021-10-16
105920      105920           1900/01/01      1900/01/01    2021-10-19
105921      105921           1900/01/01      1900/01/01    2021-10-22
105922      105922    F      1985/05/15      2021/10/16    2021-10-16
105923      105923    F      1986/09/23      2021/10/16    2021-10-16

In [34]:
df_cliente_real

,ID_CLIENTE,SEXO,DATA_NASCIMENTO,PRIMEIRA_COMPRA_x,ULTIMA_COMPRA,PRIMEIRA_COMPRA_y
0,7,,1900/01/01,2017/03/07,2021-05-08,2020-06-15
1,11,,1900/01/01,2017/03/07,2021-02-10,2020-10-15
2,13,,1900/01/01,2017/03/08,2020-04-24,2020-04-24
3,15,,1900/01/01,2019/05/11,2021-08-10,2021-01-08
4,20,,1900/01/01,2020/07/31,2021-10-13,2020-07-31
...,...,...,...,...,...,...
88588,105919,F,1977/09/11,2021/10/16,2021-10-16,2021-10-16
88589,105920,,1900/01/01,1900/01/01,2021-10-19,2021-10-19
88590,105921,,1900/01/01,1900/01/01,2021-10-22,2021-10-22
88591,105922,F,1985/05/15,2021/10/16,2021-10-16,2021-10-16
88592,105923,F,1986/09/23,2021/10/16,2021-10-16,2021-10-16

In [ ]:
#ADICIONAR COLUNA COM A DATA DA PRIMEIRA COMPRA DO CLIENTE


# Encontrando a data da Ãºltima compra para cada cliente
ultima_compra = df_venda.groupby('ID_CLIENTE')['DATA_VENDA'].min().reset_index()

# Renomeando a coluna para 'ULTIMA_COMPRA'
ultima_compra.rename(columns={'DATA_VENDA': 'PRIMEIRA_COMPRA'}, inplace=True)

# Mesclando os DataFrames df_cliente e ultima_compra com base na coluna 'ID_CLIENTE'
df_cliente_real = df_cliente_real.merge(ultima_compra, on='ID_CLIENTE', how='left')

df_cliente_real

# Tentei adicionar quantidade de produtos comprados, mas como n segue um padrÃ£o de unidade os produtos, vou deixar para fazer isso depois

In [30]:
# Calculando a quantidade total de produtos comprados por cliente
quantidade_produtos_por_cliente = df_venda.groupby('ID_CLIENTE')['QUANTIDADE'].sum().reset_index()

# Mesclando a informaÃ§Ã£o da quantidade de produtos comprados ao DataFrame df_cliente
df_cliente_real = df_cliente_real.merge(quantidade_produtos_por_cliente, on='ID_CLIENTE', how='left')

df_cliente_real

TypeError: ignored

In [35]:
df_venda['QUANTIDADE'].value_counts().head(50)

1        921903
1        587741
2         90614
2         56416
3         20494
3         12507
4         12002
5          7066
4          6701
119.9      5896
35         5653
10         5230
80         3823
60         3806
6          3788
39         3311
5          3277
70         3157
39.9       3112
45         2537
149.9      2508
15         2382
29.9       2134
129.9      2100
160        2091
6          1967
25         1960
120        1921
50         1882
55         1725
130        1707
7          1494
65         1491
150        1389
30         1274
34.9       1216
42         1205
100        1194
180        1184
8          1149
20         1106
85         1046
68         1021
139.9      1012
99.9       1003
79.9        946
10          932
54.9        878
109.9       864
64          832
Name: QUANTIDADE, dtype: int64

# continuando add colunas na tabela, agora Intitulada df_cliente_real

In [39]:
# Calcula recÃªncia em dias
data_atual = df_venda.DATA_VENDA.max() # considera ultima data da base para este case
df_cliente_real['RECENCIA'] = (data_atual -  df_venda['DATA_VENDA']).dt.days

In [40]:
df_cliente_real

,ID_CLIENTE,SEXO,DATA_NASCIMENTO,PRIMEIRA_COMPRA_x,ULTIMA_COMPRA,PRIMEIRA_COMPRA_y,RECENCIA
0,7,,1900/01/01,2017/03/07,2021-05-08,2020-06-15,258
1,11,,1900/01/01,2017/03/07,2021-02-10,2020-10-15,258
2,13,,1900/01/01,2017/03/08,2020-04-24,2020-04-24,256
3,15,,1900/01/01,2019/05/11,2021-08-10,2021-01-08,256
4,20,,1900/01/01,2020/07/31,2021-10-13,2020-07-31,256
...,...,...,...,...,...,...,...
88588,105919,F,1977/09/11,2021/10/16,2021-10-16,2021-10-16,32
88589,105920,,1900/01/01,1900/01/01,2021-10-19,2021-10-19,32
88590,105921,,1900/01/01,1900/01/01,2021-10-22,2021-10-22,165
88591,105922,F,1985/05/15,2021/10/16,2021-10-16,2021-10-16,165
88592,105923,F,1986/09/23,2021/10/16,2021-10-16,2021-10-16,165